@{
    ViewData["Title"] = "Tableros";
}

@model tl2_tp10_2023_castroagustin.ViewModels.ListarTablerosViewModel

<h2> Lista de Tableros </h2>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Id usuario</th>
        <th>Nombre</th>
        <th>Descripcion</th>
    </thead>
    <tbody>
        @foreach (var tablero in Model.Tableros)
        {
            <tr>
                <td>@tablero.Id</td>
                <td>@tablero.IdUsuarioPropietario</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
            </tr>
        }
    </tbody>
</table>